body {
  font-family: 'Inter', sans-serif;;
}

a {
  text-decoration: none;
  color: #1BA665;
}

hr {
  border: 2px solid #1BA657;
  border-radius: 5px;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  /* background-color: #010D00; */
}

.logo p{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: bold;
  /* color: #1BA657; */
  text-decoration: none;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  /* background-color: #090D0A; */
  margin-top: 10px;
}

.footer a {
  font-size: 0.8rem;
  /* color: #9B9C9D; */
  text-decoration: none;
}
